{% extends "base.html" %}
{% from "macros.html" import render_field with context %}
{% block content %}
     <form method="POST" action="">
	 	{{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom my-4 h2">Log In</legend>
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
	 		{{ form.submit(class="btn btn-info") }}
	 	</div>
     </form>
{% endblock content %}