/.bandit
.idea
/instance/
/tests/.pytest_cache/
*/__pycache__/
*.pyc
/winiskapi/static/winiskapilogo.svg
/node_modules/
/winiskapi/static/dist/
/winiskapi/static/package-lock.json
/winiskapi/static/node_modules/
