/.bandit
.idea
/instance/
/tests/.pytest_cache/
*/__pycache__/
*.pyc
/node_modules/
/winiskapi/static/dist/
/package-lock.json
/winiskapi/static/images/winiskapilogo.svg
/winiskapi/static/images/winiskapilogo-inkscape.svg
