
$font-family-sans-serif: "Nunito Sans", "Nunito", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Overlock", $font-family-sans-serif;
$red: #B84627;
$cyan: #2E9DAF;
$yellow: #ecc45e;
$green: #759953;
$blue: #5097C2;
$indigo: #794EC2;
$purple: #7E61B1;
$pink: #E77CA5;
$orange: #D88B49;
$teal: #52A089;
$white: #FFFdFa;
$gray-200: #d7d3ce;
$black: #0F0F0E;
$gray-100: #ebe8e4;
$gray-300: #c2bfb8;
$gray-400: #aeaaa2;
$gray-600: #5c5954;
$gray-700: #2e2d2a;
$gray-900: #171615;
$gray-800: #1f1e1c;
$gray-500: #9a958c;
$primary: $red;
$secondary: $cyan;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #eae3d1;
$dark: $gray-700;
$theme-color-interval: 7%;
$enable-responsive-font-sizes: true;
$spacer: 1rem;
$enable-negative-margins: true;
$border-radius: .3rem;
$border-radius-sm: .2rem;
$border-radius-xl: .8rem;
$enable-shadows: true;
$box-shadow-sm: 0 .125rem .2rem rgba($black, .075);
$box-shadow: 0 .25rem 0.5rem rgba($black, .15);
$box-shadow-lg: 0 .5rem 1rem rgba($black, .175);
$pagination-padding-y: 0.3rem;
$pagination-padding-x: 0.7rem;
$pagination-padding-x-sm: .7rem;
$code-color: $primary;
$dropdown-link-color: $white;
$dropdown-link-hover-bg: $white;
$dropdown-link-hover-color: $primary;

@import "~bootstrap";

fieldset > legend {
  float: none;
  width: auto;
  padding: 0 $spacer * .5;
}
